.input-item{
    width: 40%;
    border: none;
    border-bottom: 1px solid black;
}
span{
    text-decoration: none;
    color:rgb(149, 149, 149);
}
button{
    color:white;
    border: none;
    border-radius: 5px;
    height: 30px;
}